<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/header.ejs")%>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <%- include("./partials/element-student1.ejs")%>
  <%- include("./partials/nav.ejs")%>
  <!-- <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/click-scroll.js"></script>
  <script src="/js/custom.js"></script> -->
  <%- include("./partials/element-student2.ejs")%>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>

</html>