.hide-layout-2 {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    animation: fadeOutUp 1.5s ease both, slideUp 1.5s ease both;
    /* เพิ่ม animation ที่ชื่อ fadeOutUp และ slideUp */
}

.show-layout-2 {
    display: block;
    opacity: 1;
    height: auto;
    animation: fadeInDown 1.5s ease both, slideDown 1.5s ease both;
    /* เพิ่ม animation ที่ชื่อ fadeInDown และ slideDown */
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        height: auto;
    }

    100% {
        height: 0;
        overflow: hidden;
    }
}

@keyframes slideDown {
    0% {
        height: 0;
        overflow: hidden;
    }

    100% {
        height: auto;
    }
}